<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Space Shack</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/reviews/">Guest Reviews</a></li>
                <li><a href="/book/">Book Now</a></li>
            </ul>
        </nav>
    </header>
    <div class="about-container">
         <div class="text">
            <h1>About the Space Shack</h1>
            <p>Welcome to Phaedrus-1711. Welcome to Space Shack. This is the future. 
                <br>
                <br>
                Phaedrus-1711, discovered in 2023, is a newly discovered planet in the Andromeda Galaxy. 
                This planet is known for its mountainous terrain, fabulous views of its ringed brother planet Kerouac-47 (and further away sister planet Ishmaela-1992 on a bright day!), and of course the Dark Matter Lake. 
                <br>
                <br>
                Since its discovery, Space Shack has been the premier destination for intergalactic travelers seeking a unique and tranquil getaway. 
                Katy Perry to the edge of the atmosphere? Old news. Come and experience the wonders of Space Shack, where you can relax in our luxurious, sought-after accommodation, explore the breathtaking landscapes, and enjoy the serenity of space.
                <br>
                <br>
                If you need any more proof, check out our <a href="/reviews/">guest reviews</a> to see what others have to say about their stay at Space Shack.

            </p>
        </div>
        <div class="image"></div>
    </div>

    <footer>
        <p>&copy; 2025 Space Shack. All Rights Reserved. </p>
    </footer>

</body>
</html>
