{% extends 'base.html' %}

{% block content %}
    <div class="about-container">
         <div class="text">
            <h1>About Phaedrus-1711</h1>
                <p>Founded in 2000, Phaedrus-1711 was the first planet in the galaxy to be humanly developed into premium 
                    accommodation — and while others have since followed (Vonnegut-5, Joyce-730... we're looking at 
                    you), none come close to the raw wonder and luxury of this place.
                    <br>
                    <br>
                    Nestled between the crystalline Dark Matter Lake and the snow-flecked Mountains of Motion, the shack 
                    offers guests an unforgettable stay with panoramic views that stretch as far as Kerouac’s Rings and 
                    the the mysteries of Ishmaela-1992. On clear nights, the sky shimmers with nebula flares and stardust 
                    breezes — truly a view you can’t find on Earth.
                    <br>
                    <br>
                    Yes, it’s £5000 per night — but interplanetary logistics, deep-orbit delivery systems, and climate 
                    shielding tech don’t come cheap. What you get in return is the galaxy’s most exclusive and atmospheric 
                    getaway.
                </p>
            <h2> Landing Day - what to expect</h2>
                <p>Your journey begins with touchdown at Phaedrus Prime Dock, where you’ll be greeted by an AI-driven 
                    Lunar Transport Crawler — your ride through the craters to the shack itself. Expect your breath to fog, 
                    your boots to crunch, and your pulse to race. 
                </p>
            <h2> Inside The Space Shack</h2>
                <p>Once inside, you’ll find a cozy, rustic interior with all the comforts of home. The Shack is equipped 
                    with a cozy double bedded capsule chamber with climate controlled comfort, a starlight-view fire deep-orb
                    for warmth and reflection, as well as full gravity, purified air, and a water recycler approved by Earth
                    Health Agency 9. We have even stocked the fridge with glowfruit elixirs, shimmering plasma crisps, and other 
                    delicacies from orbit. Yes, you may bring your teabags! 
                </p>    
            <h2> Expect the unexpected! </h2>
                <p>Weather on Phaedrus-1711 is mostly still, but occasional lightstorms and magnetic flurries add to its character.
                   The silence is pristine. Vibes? Think ancient temple meets cosmic spa. Note: Ishmaela-1992 is not a moon! It's a 
                   collapsing dark-matter well, suspended just beyond the gravity line of Phaedrus-1711. It pulses faintly, like a 
                   heartbeat in reverse. Scientists say it's not solid, liquid or gas - but a slow implosion of anti-time. It draws in 
                   starlight and memory alike. No ship has ever returned from its event horizon, but your view from Phaedrus is 
                   breathtaking.
                </p>          
        </div>
        <div class="image"></div>
    </div>
{% endblock %}
    <footer>
        <p>&copy; 2025 Space Shack. All Rights Reserved. </p>
    </footer>

</body>
</html>
