{% extends 'base.html' %}

{% block content %}
    <main>
        <section id="landing">
            <div class="landing-text">
                <h1>Welcome to Space Shack</h1>
                <br>
                <h2>Your Galactic Getaway on Phaedrus-1711</h2>
                <p>Your home on a newly discovered planet.
                    <br><br>
                    Book your stay and explore the stars!
                </p>
                <br>
                <div class="buttons">
                    <a href="/reviews/" class="btn">Guest Reviews</a>
                    <a href="/book/" class="btn">Book Now</a>
                </div>
            </div>
        </section>
    </main> 
{% endblock %}
